node_modules/
.bin/
package-lock.json
build/
uploads/
.cache/
.vs/
fonts/
__info/
logs/
.*/
*.pack
*.old
*.log
.vscode/
.git/


CODEBASE_ANALYSIS_REPORT.md

dump/

*.bson


server/_temp/create_users.js

README.md
