node_modules/
.bin/
package-lock.json
build/
uploads/
.cache/
.vs/
fonts/
__info/
logs/
.*/
*.pack
*.old
*.log
.vscode/
.git/
public/case_studies/

CODEBASE_ANALYSIS_REPORT.md

dump/

app/
app

server/_temp/create_users.js

README.md
