/* Navbar.css */

body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f8f8f8;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }

  .navbar.sticky-top {
    z-index: 0;
  }
  
  .logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
  }
  
  .logo-image {
    height: 60px;
    margin-right: 10px;
    padding: 10px
  }
  
  .company-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-links li {
    margin-right: 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #ff6600;
  }
  